<% template = f.object.model.class.to_s.underscore  %>

<div class="ubiquity-meta-related-identifier" >
  <label class="control-label multi_value optional" for="<% template %>_related_identifier"><%= t("simple_form.labels.defaults.related_identifier") %></label>
  <p class="help-block"><%= t("simple_form.hints.defaults.related_identifier") %></p>
  <%=  text_field_tag "#{template}[related_identifier][][related_identifier]", nil,
                     class: "#{template}_related_identifier form-control multi-text-field multi_value related_identifier",
                     name: "#{template}[related_identifier][][related_identifier]",
                     placeholder: t("simple_form.placeholders.defaults.related_identifier")
  %>
  <div style="display: none;">
    <%= select_tag "#{template}[related_identifier][][related_identifier_type]",
        options_from_collection_for_select(HykuAddons::RelatedIdentifierTypeService.new.select_active_options.flatten.uniq!, :to_s, :to_s),
        {:class => 'form-control multi-text-field multi_value related_identifier_type'} %>

    <%= select_tag "#{template}[related_identifier][][relation_type]",
        options_for_select(HykuAddons::RelationTypeService.new.select_active_options.uniq),
        {:class => 'form-control multi-text-field multi_value related_identifier_relation'} %>
  </div>

  <br>
  <a href="#" style="color:red;" class="remove_related_identifier form-group" data-removeUbiquityrelatedIdentifier=".ubiquity-meta-related-identifier">
    <span class="glyphicon glyphicon-remove"></span>
    <span class="controls-remove-text">Remove</span>
  </a>
  |
  <a href="#" class="add_related_identifier" data-addUbiquityrelatedIdentifier=".ubiquity-meta-related-identifier">Add
    another </a>
  <br><br>
</div>
