<div class="list-group col-lg-7 col-md-6 col-sm-12">
  <% if current_user.orcid_identity? %>
    <div class="list-group-item">
      <b>ORCID Sync</b>
    </div>

    <div class="list-group-item">
      <% name = "#{current_user.orcid_identity.name} (#{current_user.orcid_identity.orcid_id})" %>
      <% link = link_to(name, orcid_profile_uri(current_user.orcid_identity.orcid_id)) %>
      <%== t("orcid_identity.sync.title", link: link) %>
    </div>

    <% path = hyku_addons.orcid_identity_path(current_user.orcid_identity) %>
    <%= form_for current_user.orcid_identity, url: path, method: :patch, html: { class: "form" } do |f| %>
      <div class="list-group-item">
        <%= f.fields_for :work_sync_preference do |sf| %>
          <% OrcidIdentity.work_sync_preferences.each do |pref, value| %>
            <div class="radio">
              <%= label_tag do %>
                <%= sf.radio_button pref, value: 1 class: "form-check-input", id: "work_sync_preference_#{pref}" %>
                <%= t("orcid_identity.sync.work_preference.#{pref}") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="list-group-item">
        <p><%= t("orcid_identity.sync.intro") %></p>

        <%= f.fields_for :profile_sync_preference do |sf| %>
          <% OrcidIdentity.profile_sync_preference.each do |pref, value| %>
            <div class="check">
              <%= label_tag do %>
                <% checked = current_user.orcid_identity.profile_sync_preference.dig(pref.to_s) == "1" %>
                <%= sf.check_box pref, value: true, checked: checked, class: "form-check-input", id: "profile_sync_preference_#{pref}" %>
                <%= t("orcid_identity.sync.profile_preference.#{pref}") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= f.submit "Save Preferences", class: "btn btn-primary" %>
    <% end %>

  <% else %>
    <div class="list-group-item">
      ORCID Sync
    </div>

    <div class="list-group-item">
      <p>
      Syncing your Hyku repository profile with ORCID allows you to import all the data in your ORCID profile to your repository profile and makes it easier for works deposited in this repository to be synced to ORCID.
      </p>

      <p>
      <b>What is ORCID?</b>
      </p>

      <a href="<%= orcid_authorize_uri %>" title="Connect to ORCID" class="btn btn-orcid popup" data-popup-width="515" data-popup-height="670">
        <%= image_tag 'orcid.png', alt: t('hyrax.user_profile.orcid.alt'), class: "profile" %>
        Connect to ORCID
      </a>

      <p><b>For testing in development</b></p>
      <p>When you get your "code" from the google playground, go to the following path: /dashboard/orcid_identity/new?code=</p>
    </div>
  <% end %>
</div>

