<!-- _alternate_identifier -->
<% if f.object.schema_driven? %>
  <%= render "records/edit_fields/cloneable_schema", f: f, key: key %>

<% else %>
  <div class="legacy-cloneable <%= f.object.model.class.to_s.underscore  %>_alternate_identifier" data-legacy-cloneable>
    <% if  f.object.model.new_record? %>
      <%= render "hyku_addons/alternate_identifier/new_form", f: f %>

    <% else %>
      <% data = get_model(f.object.model.alternate_identifier, f.object.model.class, 'alternate_identifier') || [{}] %>
      <%= render "hyku_addons/alternate_identifier/edit_form", f: f, array_of_hash: data  %>
    <% end %>

    <%= render "hyku_addons/alternate_identifier/alternate_identifier_js" %>
  </div>
<% end %>
