<% template = f.object.model.class.to_s.underscore %>
<% types = HykuAddons::NameTypeService.new.select_active_options.flatten.uniq! %>

<% f.object.contributor_list.each do |hash| %>
	<div
    class="<%= template %>_contributor"
		data-toggleable
		data-cloneable="contributor"
		data-after-clone="clear_inputs"
		data-cloneable-min="1"
	>
		<% field_options = {
			field_slug: :contributor_name_type,
			select_options: types,
			field_args: {
				class: 'form-control',
				data: {
					toggleable_control: true,
					on_change: :toggleable_group,
					after_toggleable_hidden: :clear_inputs,
				}
			},
			field_group: :contributor,
			template: template,
			hash: hash
		} %>
		<%= render "records/edit_fields/attribution_partials/select_field", field_options %>

		<div data-toggleable-group="Organisational">
			<% [
				{ field_type: :text, field_slug: :contributor_organization_name },
				{ field_type: :text, field_slug: :contributor_ror },
				{ field_type: :text, field_slug: :contributor_grid },
				{ field_type: :text, field_slug: :contributor_wikidata }
			].each do |field| %>
				<% options = { field_group: :contributor, template: template, hash: hash }.merge(field) %>
				<%= render "records/edit_fields/attribution_partials/#{field[:field_type]}_field", options %>
			<% end %>
		</div>

		<div data-toggleable-group="Personal">
			<% personal_fields = [
				{ field_type: :text, field_slug: :contributor_family_name },
				{ field_type: :text, field_slug: :contributor_given_name },
				{ field_type: :text, field_slug: :contributor_orcid },
				{
					field_type: :select,
					field_slug: :contributor_institutional_relationship,
					select_options: HykuAddons::ContributorInstitutionalRelationshipService.new(model: f.object.model.class).select_active_options.flatten.uniq!,
					field_args: { multiple: true }
				}
			] %>
			<% personal_fields = add_pacific_contributor_personal_fields(personal_fields) if template.include? "pacific" %>
			<% personal_fields.each do |field| %>
				<% options = { field_group: :contributor, template: template, hash: hash }.merge(field) %>
				<%= render "records/edit_fields/attribution_partials/#{field[:field_type]}_field", options %>
			<% end %>
		</div>

		<% field_options = { field_slug: :contributor_isni, field_group: :contributor, template: template, hash: hash } %>
		<%= render "records/edit_fields/attribution_partials/text_field", field_options %>

		<% field_options = {
			field_slug: :contributor_type,
			field_group: :contributor,
			template: template,
			hash: hash,
			select_options: HykuAddons::ContributorGroupService.new(model: f.object.model.class).select_active_options.flatten.uniq!,
			field_args: { prompt: "Please Select..." }
		} %>
		<%= render "records/edit_fields/attribution_partials/select_field", field_options unless template.include? "pacific" %>

		<div class="form-group">
			<a href="#" class="text-danger form-group" data-turbolinks="false" data-on-click="remove_parent">
				<span class="glyphicon glyphicon-remove"></span>
				<span class="controls-remove-text">Remove</span>
			</a>
			|
			<a href="#" data-turbolinks="false" data-on-click="clone_parent">Add another</a>
		</div>

		<hr>
	</div>
<% end %>
