<% template = f.object.model.class.to_s.underscore %>
<% types = HykuAddons::NameTypeService.new.select_active_options.flatten.uniq! %>

<% f.object.contributor_list.each do |hash| %>
	<div
    class="<%= template %>_contributor"
		data-toggleable
		data-cloneable="contributor"
		data-after-clone="clear_inputs"
		data-cloneable-min="1"
	>
		<% field_options = {
			field_slug: :contributor_name_type,
			select_options: types,
			field_args: {
				class: 'form-control',
				data: {
					toggleable_control: true,
					on_change: :toggleable_group,
					after_toggleable_hidden: :clear_inputs,
				}
			},
			field_group: :contributor,
			template: template,
			hash: hash
		} %>
		<%= render "records/edit_fields/attribution_partials/select_field", field_options %>

		<% types.each do |type| %>
			<%= render "records/edit_fields/contributor_#{type.downcase}", f: f, type: type, template: template, hash: hash %>
		<% end %>

		<% field_options = { field_slug: :contributor_isni, field_group: :contributor, template: template, hash: hash } %>
		<%= render "records/edit_fields/attribution_partials/text_field", field_options %>

		<% model = f.object.model.class %>
		<% opts = HykuAddons::ContributorGroupService.new(model: model).select_active_options.flatten.uniq! %>
		<% field_options = {
			field_slug: :contributor_type,
			field_group: :contributor,
			template: template,
			hash: hash,
			select_options: opts,
			# The class here is a fix to sort out the variation in the contributor field names
			group_class: "form-group contributor_type-group #{template}_contributor_contributor_type",
			field_args: { prompt: "Please Select...", class: "form-control #{template}_contributor_contributor_type" }
		} %>
		<%= render "records/edit_fields/attribution_partials/select_field", field_options unless (template.include? "pacific") || (template.include? "uva") %>

		<div class="form-group">
			<a href="#" class="text-danger form-group" data-turbolinks="false" data-on-click="remove_parent">
				<span class="glyphicon glyphicon-remove"></span>
				<span class="controls-remove-text">Remove</span>
			</a>
			|
			<a href="#" data-turbolinks="false" data-on-click="clone_parent">Add another</a>
		</div>

		<hr>
	</div>
<% end %>
