<% template = f.object.model.class.to_s.underscore %>
<% types = HykuAddons::NameTypeService.new.active_elements %>

<!-- _creator_schema -->
<div
  class="<%= template %>_creator"
  data-cloneable
  data-cloneable-min="1"
>
  <% f.object.creator_list.each do |hash| %>
    <div
      data-toggleable
      data-cloneable-group="<%= template %>_creator"
      data-cloneable-after-action="clear_inputs clear_cloned"
    >
      <% field_options = {
        field_slug: :creator_name_type,
        select_options: types.map { |t| t.slice("label", "id").values },
        required: template != "collection",
        field_args: {
          class: "form-control creator_name_type #{template}_creator_creator_name_type",
          data: {
            toggleable_control: true,
            on_change: :toggleable_group,
            after_toggleable_hidden: "clear_inputs clear_cloned",
          }
        },
        field_group: :creator,
        template: template,
        hash: hash
      } %>
      <%= render "records/edit_fields/attribution_partials/select_field", field_options %>

      <% types.each do |type| %>
        <% subfields = f.object.field_configs[:creator][:subfields].select { |subfield, config| config.has_key?(:display_for) && config[:display_for].include?(type[:id].downcase) } %>

        <div data-toggleable-group="<%= type[:id] %>">
          <% subfields.each do |name, config| %>
            <% field = {
              f: f,
              field_type: config[:type].to_sym,
              field_slug: name.to_sym,
              field_args: {
                data: {
                  required: config[:required],
                  cloneable: config[:multiple]
                }
              }
            } %>
            <% if config[:type] == "select" %>
              <% authority_service = config[:authority]&.safe_constantize %>
              <% field[:select_options] = authority_service.new(model: f.object.model.class).select_active_options if authority_service %>
            <% end %>

            <% options = { field_group: :creator, template: template, hash: hash }.merge(field) %>
            <%= render "records/edit_fields/attribution_partials/#{field[:field_type]}_field", options %>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <a href="#" class="text-danger form-group" data-turbolinks="false" data-on-click="remove_group" data-cloneable-target="<%= template %>_creator">
          <span class="glyphicon glyphicon-remove"></span>
          <span class="controls-remove-text"><%= t("simple_form.deposit_form.form_controls.remove.text") %></span>
        </a>
        |
        <a href="#" data-turbolinks="false" data-cloneable-target="<%= template %>_creator" data-on-click="clone_group">
          <%= t("simple_form.deposit_form.form_controls.add.text") %>
        </a>
      </div>

      <hr>
    </div>
  <% end %>
</div>

