<% template = f.object.model.class.to_s.underscore %>
<% types = HykuAddons::NameTypeService.new.active_elements %>

<% f.object.creator_list.each do |hash| %>
	<div
    class="<%= template %>_creator"
		data-toggleable
		data-cloneable="creator"
		data-after-clone="clear_inputs"
		data-cloneable-min="1"
	>
		<% field_options = {
			field_slug: :creator_name_type,
			select_options: types.map { |t| t.slice("label", "id").values },
			required: template != "collection",
			field_args: {
        class: 'form-control creator_name_type',
				data: {
					toggleable_control: true,
					on_change: :toggleable_group,
					after_toggleable_hidden: :clear_inputs,
				}
			},
			field_group: :creator,
			template: template,
			hash: hash
		} %>
		<%= render "records/edit_fields/attribution_partials/select_field", field_options %>

		<% types.each do |type| %>
			<%= render "records/edit_fields/creator_#{type["id"].downcase}", f: f, type: type["id"], template: template, hash: hash %>
		<% end %>

		<% field_options = { field_slug: :creator_isni, required: false, field_group: :creator, template: template, hash: hash } %>
		<%= render "records/edit_fields/attribution_partials/text_field", field_options unless template.include? "redlands" %>

		<div class="form-group">
			<a href="#" class="text-danger form-group" data-turbolinks="false" data-on-click="remove_parent">
				<span class="glyphicon glyphicon-remove"></span>
				<span class="controls-remove-text"><%= t("simple_form.deposit_form.form_controls.remove.text") %></span>
			</a>
			|
			<a href="#" data-turbolinks="false" data-on-click="clone_parent"><%= t("simple_form.deposit_form.form_controls.add.text") %></a>
		</div>

		<hr>
	</div>
<% end %>
