<div class="ubiquity_personal_fields js-creator-group">
	<div class="form-group">
		<label class="control-label multi_value optional" for="<%= template %>_creator_family">
			Creator family name
		</label>
		<%= text_field_tag "#{template}[creator][][creator_family_name]", hash.dig("creator_family_name"),
			class: "#{template}_creator form-control multi-text-field multi_value ubiquity_creator_family_name",
			placeholder: 'Please enter the creator\'s last name/family name.',
			name: "#{template}[creator][][creator_family_name]",
			data: {field_name:'ubiquity_creator_family_name'}
		%>
		<span class="text-danger error">Please enter one of these fields.</span>
	</div>
	<div class="form-group">
		<label class="control-label multi_value optional" for="<%= template %>_creator_given_name">
			Creator given name
		</label>
		<%= text_field_tag "#{template}[creator][][creator_given_name]", hash.dig("creator_given_name"),
			class: "#{template}_creator form-control  multi-text-field  multi_value ubiquity_creator_given_name",
			placeholder: 'Please enter the creator\'s first name/given name.',
			name: "#{template}[creator][][creator_given_name]",
			data: {field_name:'ubiquity_creator_given_name'}
		%>
		<span class="text-danger error">Please enter one of these fields.</span>
	</div>
	<div class="form-group">
		<label class="control-label multi_value optional" for="<%= template %>_creator_orcid">
			Creator ORCID
		</label>
		<%= text_field_tag "#{template}[creator][][creator_orcid]", hash.dig("creator_orcid"),
			class: "#{template}_creator form-control multi-text-field multi_value ubiquity_creator_orcid",
			placeholder: 'Please enter the creator\'s ORCID, e.g. 0000-1234-5678-9101.',
			name: "#{template}[creator][][creator_orcid]",
			data: {field_name:'ubiquity_creator_orcid'}
		%>
	</div>
	<div class="form-group">
		<p>
		<label class="control-label multi_value optional" for="<%= template %>_creator_institutional_relationship">
			Creator institutional relationship
		</label>
		</p>
		<% types = ['Staff member', 'Research associate'] %>
		<% opts = options_for_select(types, selected: hash.dig("creator_institutional_relationship")) %>
		<%= select_tag "#{template}[creator][][creator_institutional_relationship]", opts, multiple: true, class: "form-control" %>
	</div>
</div>
