<% template = f.object.model.class.to_s.underscore %>
<% creator_types = HykuAddons::NameTypeService.new.select_active_options.flatten.uniq! %>

<% f.object.creator_list.each do |hash| %>
	<div class="ubiquity-meta-creator">
		<div class="form-group">
			<% required = template != 'collection' %>

			<label class="control-label multi_value optional" for="<%= template %>_creator_name_type">
				Creator name type
				<% if required %>
					<span class="label label-info required-tag">required</span>
				<% end %>
			</label>

			<% opts = options_for_select(creator_types, selected: hash.dig("creator_name_type")) %>
			<% select_params = { required: required, class: 'ubiquity_creator_name_type form-control', data: { field_name:'ubiquity_creator_name_type' } } %>
			<%= select_tag "#{template}[creator][][creator_name_type]", opts, select_params %>
			<p class="help-block">The person or group responsible for the work. Usually this is the author of the content.</p>
		</div>

		<%= render "records/edit_fields/creator_organisation_fields", template: template, hash: hash %>
		<%= render "records/edit_fields/creator_personal_fields", template: template, hash: hash %>

		<div class="form-group">
			<label class="control-label multi_value optional" for="<%= template %>_creator_isni">
				Creator ISNI
			</label>
			<%= text_field_tag "#{template}[creator][][creator_isni]", hash.dig("creator_isni"),
				class: "#{template}_creator form-control multi-text-field multi_value ubiquity_creator_isni",
				placeholder: 'Please enter the creator\'s ISNI, e.g. 0000 1234 5678 9101.',
				name: "#{template}[creator][][creator_isni]",
				data: {field_name:'ubiquity_creator_isni'}
			%>
		</div>

		<div class="form-group">
			<a href="#" class="text-danger remove_creator form-group">
				<span class="glyphicon glyphicon-remove"></span>
				<span class="controls-remove-text">Remove</span>
			</a>
			|
			<a href="#" class="add_creator">Add another</a>
		</div>
	</div>
<% end %>

