<% # All schema driven date fields should use this partial as it will take care of everything for you %>

<!-- schema - _default_date - <%= key %> -->
<% template = f.object.model.class.to_s.underscore %>
<% dates = f.object[key] %>
<% required = f.object.field_configs.dig(key, :required) %>

<% # Define a block which can be reused below %>
<% date_fields = Proc.new do |date_value, required| %>
  <div class="form-inline">
    <div class="form-group <%= "#{template}_#{key}_year" %>">
      <% opts = { start_year: (Date.today.year + 6), end_year: (Date.today.year - 159), prompt: t("simple_form.date_fields.year.label") } %>
      <% params = { id: "#{template}_#{key}__#{key}_year", name: "#{template}[#{key}][][#{key}_year]", class: "form-control ubiquity-date-input", required: required } %>
      <%= select_year(date_value&.flatten[0]&.to_i, opts, params) %>
    </div>

    <div class="form-group <%= "#{template}_#{key}_month" %>">
      <% opts = { use_two_digit_numbers: true, prompt: t("simple_form.date_fields.month.label") } %>
      <% params = { id: "#{template}_#{key}__#{key}_month", name: "#{template}[#{key}][][#{key}_month]", class: "form-control ubiquity-date-input" } %>
      <%= select_month(date_value[1].to_i, opts, params) %>
    </div>

    <div class="form-group <%= "#{template}_#{key}_day" %>">
      <% opts = { use_two_digit_numbers: true, prompt: t("simple_form.date_fields.day.label") } %>
      <% params = { id: "#{template}_#{key}__#{key}_day", name: "#{template}[#{key}][][#{key}_day]", class: "form-control ubiquity-date-input" } %>
      <%= select_day(date_value[2].to_i, opts, params) %>
    </div>
  </div>
<% end %>

<div class="form-group <%= "#{template}_#{key}" %>">
  <label class="control-label" for="<%= key %>"><%= t("simple_form.#{key}.label", default: key.to_s.titleize) %></label>

  <p class="help-block"><%= t("simple_form.hints.defaults.#{key}") %></p>

  <% if required %>
    <span class="label label-info required-tag">required</span>
  <% end %>

  <% if f.object.field_configs.dig(key, :multiple) %>
    <div
      class="ubiquity-meta-event-date <%= "#{template}_#{key}" %>"
      data-cloneable
      data-cloneable-min="1"
    >
      <% dates.each do |date| %>
        <% # The original file used .to_s instead of .first, but this returned an array with a Triple instance %>
        <% date_value = date.split("-") %>

        <div
          data-cloneable-group="<%= "#{template}_#{key}" %>"
          data-cloneable-after-action="clear_inputs clear_cloned"
        >
          <% date_fields.call(date_value, required) %>

          <div class="form-group">
            <br>
            <a href="#" class="text-danger form-group" data-turbolinks="false" data-on-click="remove_group" data-cloneable-target="<%= "#{template}_#{key}" %>">
              <span class="glyphicon glyphicon-remove"></span>
              <span class="controls-remove-text"><%= t("simple_form.deposit_form.form_controls.remove.text") %></span>
            </a>
            |
            <a href="#" data-turbolinks="false" data-cloneable-target="<%= "#{template}_#{key}" %>" data-on-click="clone_group">
              <%= t("simple_form.deposit_form.form_controls.add.text") %>
            </a>
          </div>

          <hr>
        </div>
      <% end %>
    </div>

  <% else %>
    <% split_dates = dates.respond_to?(:split) ? dates.split("-") : dates.first.split("-") %>
    <% date_fields.call(split_dates, required) %>
  <% end %>
</div>
