<% template = f.object.model.class.to_s.underscore %>
<% target = "#{template}_#{key}" %>

<!-- _funder_schema - <%= key %> -->
<div class="<%= target %> <%= target %>" data-cloneable data-cloneable-min="1">
  <hr>

  <% f.object.send("#{key}_list".to_sym).each do |hash| %>
    <div data-cloneable-group="<%= target %>" data-cloneable-after-action="clear_inputs clear_cloned attach_funder_name_autocomplete">
      <% f.object.field_configs.dig(key, :subfields).each do |subfield, config| %>
        <div class="form-group">
          <% field = {
            f: f,
            field_type: config[:type],
            field_slug: subfield,
            field_args: { data: { required: config[:required], cloneable: config[:multiple] } }.merge(config[:attributes] || {})
          } %>

          <% if config[:type] == "select" %>
            <% authority_service = config[:authority]&.safe_constantize %>
            <% field[:select_options] = authority_service.new(model: f.object.model.class).select_active_options if authority_service %>
          <% end %>

          <% options = { field_group: key, template: template, hash: hash }.merge(field) %>
          <%= render "records/edit_fields/schema_attribution_partials/#{field[:field_type]}_field", options %>
        </div>
      <% end %>

      <div class="form-group">
        <a href="#" class="text-danger form-group" data-turbolinks="false" data-on-click="remove_group" data-cloneable-target="<%= target %>">
          <span class="glyphicon glyphicon-remove"></span>
          <span class="controls-remove-text"><%= t("simple_form.deposit_form.form_controls.remove.text") %></span>
        </a>
        |
        <a href="#" data-turbolinks="false" data-cloneable-target="<%= target %>" data-on-click="clone_group">
          <%= t("simple_form.deposit_form.form_controls.add.text") %>
        </a>
      </div>

      <hr>
    </div>
  <% end %>
</div>
