<% provide :page_header do %>
  <br>
  <h1> <%= icon 'table' %>Edit CMS Page <%= @page.name %></h1>
<% end %>

<%= render 'form' %>

<%= content_tag :h2, t(".widgets") %>
<%= button_link_to "Add widget", [:new, :admin, @page, :ubiquitous_hyku_widget], class: "btn-primary" %>
<%= table_for @page.hyku_widgets, { partial: 'hyku_widget' }, :title, :container, :position, :width, :height, :actions %>