<%= content_tag :h1, I18n.t("stats.reports.title"), class: "lower" %>

<div id="reports">
  <% if @reports.any? %>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5 form-group">
        <%= label_tag :dashaboard_gds_reports, t("stats.reports.label"), class: "form-label" %>
        <% options = { id: "dashaboard_gds_reports", class: "form-control", data: { "on-change" => "update_iframe_src", iframe_id: "container_frame" }, include_blank: "Please Select..." } %>
        <%= select_tag :report, options_for_select(@reports), options %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div id="report" class="panel-body text-center">
            <div id="reports_intro">
              <h4><%= t("stats.reports.heading") %></h4>
              <p><%= t("stats.reports.intro") %></p>
            </div>
            <iframe
                id="container_frame"
                src=""
                width="100%"
                frameborder="0"
                style="border:0"
                ></iframe>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div id="report" class="panel-body text-center">
            <div id="reports_intro">
              <h4><%= t("stats.reports.heading") %></h4>
              <p><%= t("stats.reports.no_reports") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
