<div class="form-group <%= "#{template}_date_#{date_type}" %>">
	<label class="control-label" for="<%= "#{template}_date_#{date_type}" %>"><%= t("simple_form.labels.defaults.date_#{date_type}") %></label>
	<span class="label label-info required-tag">required</span>
	<p class="help-block"><%= t("simple_form.hints.defaults.date_#{date_type}") %></p>

	<div class="form-inline <%= "date_#{date_type}" %>">

		<% # The form-group class "#{template}_date_#{date_type}_..." is used for DOI auto population %>
		<div class="form-group <%= "#{template}_date_#{date_type}_year" %>">
			<%= select_year(f.object.model.send("date_#{date_type}").to_s.split('-')[0].to_i, {start_year: (Date.today.year + 6), end_year: 1750, prompt: "Select year"}, {id: "#{template}_date_#{date_type}__date_#{date_type}_year", name: "#{template}[date_#{date_type}][][date_#{date_type}_year]", class: "form-control ubiquity-date-#{date_type}-year ubiquity-date-input #{template}_date_#{date_type}_year", required: true}) %>
		</div>
		<div class="form-group <%= "#{template}_date_#{date_type}_month" %>">
			<%= select_month(f.object.model.send("date_#{date_type}").to_s.split('-')[1].to_i, { use_two_digit_numbers: true, prompt: 'select month if available'}, {id: "#{template}_date_#{date_type}__date_#{date_type}_month", name: "#{template}[date_#{date_type}][][date_#{date_type}_month]", class: "form-control ubiquity-date-#{date_type}-month ubiquity-date-input #{template}_date_#{date_type}_month" }) %>
		</div>
		<div class="form-group <%= "#{template}_date_#{date_type}_day" %>">
			<%= select_day(f.object.model.send("date_#{date_type}").to_s.split('-')[2].to_i, { use_two_digit_numbers: true, prompt: 'select day if available'}, {id: "#{template}_date_#{date_type}__date_#{date_type}_day", name: "#{template}[date_#{date_type}][][date_#{date_type}_day]", class: "form-control ubiquity-date-#{date_type}-day ubiquity-date-input #{template}_date_#{date_type}_day" }) %>
		</div>
	</div>
</div>
