<div class="form-group <%= "#{field_slug}-group" %>">
	<% options = { class: "control-label multi_value optional" } %>
	<%= label_tag "#{template}_#{field_slug}", t("simple_form.#{field_group}.#{field_slug}.label"), options %>

	<% defaults = {
		class: "#{template}_#{field_group} form-control multi-text-field multi_value",
		placeholder: t("simple_form.#{field_group}.#{field_slug}.placeholder"),
		name: "#{template}[#{field_group}][][#{field_slug}]",
		data: { field_name: "ubiquity_#{field_slug}" },
		required: local_assigns[:required]
	}.merge(local_assigns[:field_args] || {}) %>
	<%= text_field_tag "#{template}[#{field_group}][][#{field_slug}]", hash.dig(field_slug.to_s), defaults %>

  <% help_key = "simple_form.#{field_group}.#{field_slug}.help_text"  %>
	<% if I18n.exists?(help_key) %>
		<p class="help-block"><%= t(help_key) %></p>
	<% end%>

	<% if local_assigns[:required] %>
		<div class="text-danger error"><%= t("deposit_form.required.label") %></div>
	<% end %>
</div>
