<!DOCTYPE html>
<html>
<head>
  <title>Hyku addons</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "hyku_addons/application", media: "all" %>
  <%= javascript_include_tag "hyku_addons/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
