<!-- _date_fields -->
<% date_field = "date_#{date_type}" %>
<% required = f.object.field_configs[date_field.to_sym][:required] %>

<!-- hyku_addons/_date_fields - <%= date_field %> -->
<div class="form-group <%= "#{template}_#{date_field}" %>">
	<label class="control-label" for="<%= "#{template}_#{date_field}" %>"><%= "Date #{date_type}" %></label>
	<p class="help-block"><%= t("simple_form.hints.defaults.#{date_field}") %></p>

	<% if required %>
		<span class="label label-info required-tag">required</span>
	<% end %>

	<div class="form-inline <%= date_field %>">
		<% # The form-group class "#{template}_#{date_field}_..." is used for DOI auto population %>
		<div class="form-group <%= "#{template}_#{date_field}_year" %>">
			<% html_options = { id: "#{template}_#{date_field}__#{date_field}_year", name: "#{template}[#{date_field}][][#{date_field}_year]", class: "form-control ubiquity-date-#{date_type}-year ubiquity-date-input #{template}_#{date_field}_year", required: required } %>
			<%= select_year(f.object.model.send(date_field).to_s.split('-')[0].to_i, { start_year: (Date.today.year + 6), end_year: 1750, prompt: "Select year" }, html_options) %>
		</div>

		<div class="form-group <%= "#{template}_#{date_field}_month" %>">
			<%= select_month(f.object.model.send(date_field).to_s.split("-")[1].to_i, { use_two_digit_numbers: true, prompt: "Select month if available" }, {id: "#{template}_#{date_field}__#{date_field}_month", name: "#{template}[#{date_field}][][#{date_field}_month]", class: "form-control ubiquity-date-#{date_type}-month ubiquity-date-input #{template}_#{date_field}_month" }) %>
		</div>

		<div class="form-group <%= "#{template}_#{date_field}_day" %>">
			<%= select_day(f.object.model.send(date_field).to_s.split("-")[2].to_i, { use_two_digit_numbers: true, prompt: "Select day if available" }, {id: "#{template}_#{date_field}__#{date_field}_day", name: "#{template}[#{date_field}][][#{date_field}_day]", class: "form-control ubiquity-date-#{date_type}-day ubiquity-date-input #{template}_#{date_field}_day" }) %>
		</div>
	</div>
</div>
