<div class="form-group">
  <%= f.fields_for :settings do |ff| %>
    <%= ff.label field_name %><br>
    <%= ff.label t("settings.helptexts.#{field_name}") %><br>
    <%= ff.text_field field_name.to_sym, :value => @account.settings[field_name],
      name: "#{f.object_name}[settings][#{html_name_element}][]", class: 'form-control' %><br>
    <% end %>
</div>

<%= render "hyku_addons/account_settings/settings/submit_buttons", f: f if display_save_button %>
