<div class="form-check">
  <%= f.fields_for :settings do |ff| %>
    <%= ff.check_box field_name, { checked: @account.settings[field_name] == "true" }, "true", "false" %>
    <%= ff.label field_name %>
    <br>
    <%= t("settings.helptexts.#{field_name}") %>
    </br>
    </br>
  <% end %>
</div>

<%= render "hyku_addons/account_settings/settings/submit_buttons", f: f if display_save_button %>
