<% options ||= params[:options] %>

<div class="form-group">
	<%= f.fields_for :settings do |ff| %>
		<%= ff.label field_name %><br>
    <%= ff.select field_name, options, {}, { class: 'form-control', multiple: :multiple } %>
    <%= t("settings.helptexts.#{field_name}") %><br>
	<% end %>
</div>

<%= render "hyku_addons/account_settings/settings/submit_buttons", f: f if display_save_button %>
