<div class="form-group">
	<%= f.fields_for :settings do |ff| %>
		<%= ff.label field_name %><br>
		<%= t("settings.helptexts.#{field_name}") %><br>
		<%= ff.text_field field_name, :value => @account.settings[field_name], class: 'form-control', id: field_name %>
	<% end %>
</div>

<%= render "hyku_addons/account_settings/settings/submit_buttons", f: f if display_save_button %>
