
<div class="form-group">
<%= f.fields_for :settings do |ff| %>
  <%= ff.label field_name %><br>
  <%= ff.text_field field_name, :value => @account.settings[field_name], class: 'form-control', id: field_name %><br>
<% end %>
</div>

<% if display_save_button == true %>
<div class="panel-footer">
 <%= f.submit class: 'btn btn-primary pull-right' %> <br>
 <h1> <%= link_to "Back",  hyku_addons.admin_account_settings_path, class: "btn btn-xs btn-default  pull-right" %></h1>
</div>
<% end %>
