  <% content_for :page_header do %>
    <h1> <%= link_to "Back",  hyku_addons.admin_account_settings_path, class: "btn btn-xs btn-default" %></h1><br>
     <h1><span class="fa fa-gears"></span> Editing Account Settings</h1>
   <% end %>
   
   <div class="row">
     <div class="col-md-12">
       <div class="panel panel-default account-form">
         <%= form_for(@account, url: hyku_addons.admin_account_setting_path(@account), :html => { class: 'form control' }) do |f| %>
           <div class="panel-body">
             <% if @account.errors.any? %>
               <div id="error_explanation">
                 <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
                 <ul>
                   <% @account.errors.messages.each do |key, messages| %>
                     <li><%= key %> &quot;<%= @account.errors.details[key].first[:value] %>&quot; <%= messages.join(' and ') %></li>
                   <% end %>
                 </ul>
               </div>
             <% end %>
   
             <div class="form-group">
               <%= f.fields_for :settings do |ff| %>
   
                 <% ['contact_email', 'gtm_id', 'demo_gtm_id', 'live', 'institutional_relationship', 'creator_fields', 'contributor_fields'].each do |fname| %>
                  <%= ff.label fname %><br>
                  <%= ff.text_field fname, :value => @account.settings[fname], class: 'form-control', id: fname %><br>
                <% end %>
   
                 <% ['weekly_email_list', 'monthly_email_list', 'yearly_email_list' 'email_format', 'work_type_list', 'contributor_roles', 'creator_roles'].each do |fname| %>
                  <%= ff.label fname %><br>
                  <%= ff.text_field fname, :value => current_account.settings[fname], name: "#{f.object_name}[settings][#{fname}][]", class: 'form-control' %><br>
                 <% end %>

                 <% ["sign_up_link", 'redirect_on', 'allow_signup', "hide_form_relationship_tab", "index_record_to_shared_search",
                     "shared_login", "turn_off_fedora_collection_work_association",'enabled_doi', 'institutional_relationship_picklist'].each do |fname| %>
                      <%= ff.label fname %><br>
                      <%= ff.check_box fname, {checked: @account.settings[fname],  class: 'form-control', id: fname}, "true", "false" %>            
                <% end %>
               <% end %>
             </div>
   
           </div>
           <div class="panel-footer">
             <%= f.submit class: 'btn btn-primary pull-right' %>
           </div>
         <% end %>
       </div>
   
     </div>
   </div>
   
   <% content_for :page_header do %>
    <h1> <%= link_to "Back",  hyku_addons.admin_account_settings_path, class: "btn btn-xs btn-default" %></h1><br>
     <h1><span class="fa fa-gears"></span> Editing Account Settings</h1>
   <% end %>