<% provide :page_header do %>
    <h1><span class="fa fa-user"></span> Account Settings </h1>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><h3><b>Editable Fields</b></h3></th>
      <th><h3><b>Actions</b></h3></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Edit all fields or multiple fields:</b></td>
      <td><%=link_to "Edit all fields ", hyku_addons.edit_admin_account_setting_path(@account), class: "btn btn-xs btn-default" %></td>
    </tr>
   
    <% ['contact_email', 'gtm_id', 'demo_gtm_id', 'live', 'institutional_relationship', 'creator_fields', 'contributor_fields'].each do |fname| %>
      <tr>
        <td id= "link-<%= fname %>"><b><%= fname %>:</b> <%= @account && @account.settings && @account.settings[fname] %> </td> <br>
        <td><%= link_to "Edit #{fname}", hyku_addons.edit_admin_account_setting_path(id: @account, partial_name: 'render_text_fields', field_name: fname), class: "btn btn-xs btn-default", remote: true %></td>
      </tr>
    <% end %>

    <% ['weekly_email_list', 'monthly_email_list', 'yearly_email_list' 'email_format', 'work_type_list', 'contributor_roles', 'creator_roles'].each do |fname| %>
      <tr>
        <td id= "link-<%= fname %>"><b> <%= fname %>: </b> <%= @account && @account.settings && @account.settings[fname].try(:to_sentence) %></td> <br>
        <td><%=link_to "Edit #{fname}", hyku_addons.edit_admin_account_setting_path(id: @account, partial_name: 'render_array_list', field_name: fname), class: "btn btn-xs btn-default", remote: true  %></td>
      </tr>
    <% end %>

    <% ["sign_up_link", 'redirect_on', 'allow_signup', "hide_form_relationship_tab", "index_record_to_shared_search",
          "shared_login", "turn_off_fedora_collection_work_association",'enabled_doi', 'institutional_relationship_picklist'].each do |fname| %>
            <tr>
            <td id= "link-<%= fname %>"><b><%= fname %>:</b> <%= @account && @account.settings && @account.settings[fname] %> </td> <br>
            <td><%= link_to "Edit #{fname}", hyku_addons.edit_admin_account_setting_path(id: @account, partial_name: 'render_single_boolean', field_name: fname), class: "btn btn-xs btn-default", remote: true %></td>
            </tr>
    <% end %>
  </tbody>
</table>

