<% provide :page_header do %>
  <h1><span class="fa fa-user"></span>Account Settings</h1>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><h3><b>Editable Fields</b></h3></th>
      <th><h3><b>Actions</b></h3></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Edit all fields or multiple fields:</b></td>
      <td><%=link_to "Edit all fields ", hyku_addons.edit_admin_account_setting_path(@account), class: "btn btn-xs btn-default" %></td>
    </tr>

    <tr><td><b>Single text fields</b></td></tr>
    <% ['contact_email', 'gtm_id', 'oai_admin_email', 'oai_prefix', 'oai_sample_identifier'].each do |fname| %>
      <tr>
        <td id="link-<%= fname %>"><b><%= fname.humanize %>:</b> <%= @account && @account.settings && @account.settings[fname] %></td>
        <td><%= link_to "Edit #{fname.humanize}", hyku_addons.edit_admin_account_setting_path(id: @account, partial_name: 'render_text_fields', field_name: fname), class: "btn btn-xs btn-default", remote: true %></td>
      </tr>
    <% end %>

    <tr><td><b>Array fields that hold a list</b></td></tr>
    <% ['weekly_email_list', 'monthly_email_list', 'yearly_email_list', 'email_format'].each do |fname| %>
      <tr>
        <td id="link-<%= fname %>"><b> <%= fname.humanize %>:</b> <%= @account && @account.settings && @account.settings[fname].try(:to_sentence) %></td>
        <td><%=link_to "Edit #{fname.humanize}", hyku_addons.edit_admin_account_setting_path(id: @account, partial_name: 'render_array_list', field_name: fname), class: "btn btn-xs btn-default", remote: true %></td>
      </tr>
    <% end %>

		<% # NOTE: This section is being left in the code incase we need to add new hash options %>
		<% settings = [] %>
		<% if settings.present? %>
			<tr><td><b>Hash fields that hold a list</b></td></tr>
			<% settings.each do|fname| %>
				<tr>
					<td id="link-<%= fname %>"><b> <%= fname.humanize %>:</b> <%= @account && @account.settings && @account.settings[fname].try(:to_sentence) %></td>
					<td><%=link_to "Edit #{fname.humanize}", hyku_addons.edit_admin_account_setting_path(id: @account, partial_name: 'render_hash_settings', field_name: fname), class: "btn btn-xs btn-default", remote: true  %></td>
				</tr>
			<% end %>
		<% end %>

    <tr><td><b>Boolean fields</b></td></tr>
    <% ['redirect_on', 'allow_signup', "hide_form_relationship_tab", "shared_login"].each do |fname| %>
        <tr>
          <td id="link-<%= fname %>"><b><%= fname.humanize %>:</b> <%= @account && @account.settings && @account.settings[fname] %></td>
          <td><%= link_to "Edit #{fname.humanize}", hyku_addons.edit_admin_account_setting_path(id: @account, partial_name: 'render_single_boolean', field_name: fname), class: "btn btn-xs btn-default", remote: true %></td>
        </tr>
      <% end %>
  </tbody>
</table>
